@model ModelViews.Concrete.PostDto

@{
    ViewData["Title"] = "Add image";
}

<h3 class="text-center">Post Form</h3>
<form method="post" asp-controller="Post" asp-action="AddPost" enctype="multipart/form-data" >    

    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

    <div class="form-group">
        <label asp-for="PostDescription" class="form-label"></label>
        <input asp-for="PostDescription"  class="form-control text-body"/>
        <span asp-validation-for="PostDescription" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="ImageFile" class="form-label"></label>
        <input asp-for="ImageFile" type="file" class="form-control"/>
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <br />


    <br />



    <button class="btn btn-primary">Share</button>
</form>